/* .dropdownlistDark{
   border-radius: 50px !important;
   font-size: 14px !important;
   background-color:#591CA8!important;
   border-color:#591CA8!important;
   padding-left:100px !important;
   padding-right:100px !important;
}

.dropdownlistDark:hover {
background-color: #240947!important;
}

.dropdownlistDark:active{
   background-color: #240947;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(119, 86, 163, 0.6) !important;
   border-color:#73569781 !important;
}

.scrollable_menuDark{
   height: auto;
   max-height: 200px;
   overflow-x: hidden;
}


.dropdownlistLight{
   border-radius: 50px !important;
   font-size: 14px !important;
   color:#591CA8 !important;
   background-color:white!important;
   border-color:#591CA8!important;
   width:400px !important;
   margin:10px !important;
}

.dropdownlistLight:hover {
background-color: #240947!important;
color:white !important;
}

.dropdownlistLight:active{
   background-color: #240947;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(119, 86, 163, 0.6) !important;
   border-color:#73569781 !important;
}

.scrollable_menuLight{
   height: auto;
   max-height: 200px;
   overflow-x: hidden;
} */

.dropdownList{
   background-color:#df6a6a;
   border:none;
   margin-bottom:10px;
}

.dropdownList:hover {
   background-color: #df6a6a!important;
   color:white !important;
   }
   
