.Footer{
    font-size:small;
    height:80px;
    width:100%;
    position:relative;
    bottom:0;
    left:zero;
    background-color:	#df6a6a;
    display:flex;
    padding: 0 20px;
    box-sizing: border-box;
    /* z-index: 90;
    margin:auto; */
    color:white;
}

.Footer p{
   color:white;
   margin:auto;
}
