
/* Modal Header and it's text styles */
.ModalHeader{
    border-bottom:transparent !important;
    font-weight: 400px;
}

.ModalTitle{
    padding:20px 10px 10px 320px !important;
    font-weight: normal !important;
}

/* Modal Content and it's styles  */
.ModalContainer{
    padding:40px !important;
}

.Titles{
    font-weight:300px !important;
}

.Titles, .ModalTitle,.ProfileAvatar{
    color:#591CA8;
}

.inputs:focus{
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(119, 86, 163, 0.6) !important;
    border-color:#73569781 !important;
}

.inputs{
    border-color:#c4b0ddfd !important;
    border-radius: 50px !important;
    font-size: 14px !important;
}

.ProfileAvatar{
    margin-top:30px;
}

/* Modal Footer and it's contents' styles */

.ModalFooter{
    border-top:transparent !important;
}

.SubmitButton{
    background-color: #df6a6a !important;
    border-color:#df6a6a!important;
    padding:5px 70px 5px 70px !important;
    margin-right:10% !important;
    margin-bottom:8% !important;
    margin-top:5% !important;
}

.submit_resource_div{
    padding:40px !important;
}

.dropdownlist{
    margin-top:10px;
}

.create_res_col{
    padding:20px;
}

.create_res_col_2{
    padding:30px;
}